<!doctype html>
<html ng-app="airTravelApp">
<head>
<meta charset="UTF-8">
<title>Week 3 - Homework</title>


<!-- Angular -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
<!-- Controller -->
<script src="js/maincontroller.js"></script>


</head>
<body>
    <div ng-controller="AirportDelayCtrl">
    

    <!--Sidebar content-->
    <h2> Airport Delay Information</h2>

    <h3>Select Airport:</h3>
    Search: <input ng-model="query">
    <p> You are searching for:{{ query }} </p>

<select ng-model="selectedCity" ng-options="city.value as city.name for city in cities" ng-change="handleCitySelectionChange()"> </select>
     
      <p>{{cityDelayInfo.IATA}}</p>
        <p> ICAO: {{cityDelayInfo.ICAO}}</p>
        <p> IATA: {{cityDelayInfo.city}}</p>
        <p> City: {{cityDelayInfo.name}}</p>
        <p> State: {{cityDelayInfo.state}}</p>
        <p> Delay Status: {{cityDelayInfo.delay}}</p>
        <p ng-show="cityDelayInfo.delay"> Status: {{cityDelayInfo.status}}</p>

</body>
</html>
